.create-ticket-container {
  max-width: 600px;
  margin: auto;

  .ticket-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-form-field {
    width: 100%;

    &.full-width {
      width: 100%;
    }
  }

  .submit-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
