<div class="project-detail">
  <!-- Top Section -->
  <div class="top-section">
    <div class="project-info">
      <div>
        <strong>Project Name</strong>

        <p>{{ selectedProject?.projectName }}</p>
      </div>
      <div>
        <div>
          <strong>Created By: </strong>
          <span
            >{{ selectedProject?.createdBy?.firstName }}
            {{ selectedProject?.createdBy?.lastName }}
          </span>
        </div>

        <br />
        <strong>Created At:</strong>
        {{ selectedProject?.createdAt | date : "yyyy-MM-dd HH:mm" }}
      </div>
    </div>
    <div class="project-actions">
      <button
        mat-raised-button
        color="accent"
        (click)="toggleMembersVisibility()"
      >
        {{ membersVisible ? "HIDE MEMBERS" : "VIEW MEMBERS" }}
      </button>
      <button mat-raised-button color="accent" (click)="addMembers()">
        ADD MEMBERS
      </button>
      <button mat-raised-button color="primary" (click)="editProject()">
        EDIT PROJECT
      </button>
      <button mat-raised-button color="warn" (click)="deleteProject()">
        DELETE PROJECT
      </button>
      <mat-progress-spinner
        *ngIf="isLoading"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
  </div>

  <!-- Members Section -->
  <div *ngIf="membersVisible && projectMembersSet">
    <h3>TeamMembers of {{ selectedProject?.projectName }}</h3>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Date Added to Team</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let team of teamInfo; let outerIndex = index">
          <tr
            *ngFor="let teamMember of team.teamMembers; let innerIndex = index"
          >
            <td>{{ teamMember.user.firstName }}</td>
            <td>{{ teamMember.user.lastName }}</td>
            <td>{{ teamMember.user.userName }}</td>
            <td>{{ teamMember.addedDate | date : "shortDate" }}</td>
            <td>
              <button
                mat-icon-button
                color="warn"
                (click)="
                  removeMemberFromProject(teamMember.user._id, innerIndex)
                "
              >
                <mat-icon>remove_circle</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Team Members Selection -->
  <form [formGroup]="addMemberForm" (ngSubmit)="saveTeamsToProject()">
    <div formArrayName="teamMembers">
      <div
        *ngFor="let memberCtrl of teamMembersControls; let i = index"
        class="member-row"
      >
        <mat-form-field class="full-width">
          <mat-label>Team Members</mat-label>
          <mat-select
            [formControl]="memberCtrl"
            placeholder="Select Member Name"
          >
            <mat-option *ngFor="let user of users" [value]="user._id">
              {{ user.firstName }} {{ user.lastName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="memberCtrl.hasError('required')">
            Name is required!
          </mat-error>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeMembers(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <br />
  <!-- Tickets Section -->
  <div class="ticket-section">
    <app-ticket-details></app-ticket-details>
  </div>
</div>
