.project-detail {
  .top-section {
    display: flex;
    justify-content: space-between;

    .project-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .project-actions {
      display: flex;
      gap: 20px;
    }
  }

  .ticket-section {
    margin-top: 20px;

    .ticket-actions {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
}
