:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }

  .profile-card {
    display: flex; // Convert to flex container
    flex-direction: column; // Stack children vertically
    align-items: center; // Center children horizontally
    justify-content: center; // Center children vertically
    padding: 0 20px 20px 20px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  /* Style the active link */
  mat-nav-list a.mat-list-item.list-item-active {
    background-color: #ffe082;
    font-weight: bold; // Make the active item's text bold
  }

  /* Add hover effect to mat-list-item */
  mat-nav-list a.mat-list-item:hover {
    background-color: #ffe082;
  }

  a:hover {
    background-color: #ffe082;
  }
}
