<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h4>{{ userName$ | async }}</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="user profile card"
    />
  </div>
  <mat-divider> </mat-divider>
  <mat-card>
    <h2 matSubheader>Manage</h2>
    <a
      mat-list-item
      [routerLinkActive]="['list-item-active']"
      routerLink="student-dashboard"
    >
      <mat-icon>dashboard</mat-icon> Student Dashboard
    </a>
    <a
      mat-list-item
      [routerLinkActive]="['list-item-active']"
      routerLink="professor-dashboard"
    >
      <mat-icon>dashboard</mat-icon> Professor Dashboard
    </a>
    <a
      mat-list-item
      [routerLinkActive]="['list-item-active']"
      routerLink="manage-project/manage"
      ><mat-icon>create_new_folder</mat-icon> Manage Projects</a
    >
    <a
      mat-list-item
      [routerLinkActive]="['list-item-active']"
      routerLink="ticket-details"
      ><mat-icon>local_activity</mat-icon> Tickets</a
    >
  </mat-card>
  <mat-divider> </mat-divider>
  <mat-card>
    <h2 matSubheader>Teams</h2>
    <a
      mat-list-item
      [routerLinkActive]="['list-item-active']"
      routerLink="team-details"
      ><mat-icon>groups</mat-icon> My Team</a
    >
    <a
      mat-list-item
      [routerLinkActive]="['list-item-active']"
      routerLink="profile"
      ><mat-icon>account_circle</mat-icon> Profile</a
    >
  </mat-card>
</mat-nav-list>
