<header>
  <h1>Welcome to Sprint Sage</h1>
</header>
<div class="home-container">
  <div class="welcome-section">
    <h3>
      Discover the ultimate platform <br />
      for managing your software development projects.
    </h3>
    <p>
      Collaborate with ease | track your progress | and streamline your
      workflow.
    </p>

    <div class="call-to-action">
      <h3><b>Ready to dive in?</b></h3>
      <p id="desc">
        Sign up today to start managing your projects efficiently or log in to
        continue your work.
      </p>
      <a routerLink="/register" class="action-button">Sign Up</a>
      <a routerLink="/login" class="action-button">Log In</a>
    </div>
  </div>

  <!-- <div class="call-to-action">
    <h3><b>Ready to dive in?</b></h3>
    <p id="desc">
      Sign up today to start managing your projects efficiently or log in to
      continue your work.
    </p>
    <a routerLink="/register" class="action-button">Sign Up</a>
    <a routerLink="/login" class="action-button">Log In</a>
  </div> -->
</div>
