<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to Sprint Sage</title>
</head>
<body>
  <header>
    <h1>Welcome to Sprint Sage</h1>
  </header>
<div class="home-container">
 
  <div class="welcome-section">
    <h2>Discover the ultimate platform for managing your software development projects.</h2>
    <p>Collaborate with ease, track your progress, and streamline your workflow.</p>
  </div>

  <div class="call-to-action">
    <h3><b>Ready to dive in?</b></h3>
    <p id="desc">Sign up today to start managing your projects efficiently or log in to continue your work.</p>
    <a href="/register" class="action-button">Sign Up</a>
    <a href="/login" class="action-button">Log In</a>
  </div>
</div>
</body>
</html>
