.profile-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  .header {
    text-align: center;
    color: #0056b3;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px;
    background-color: #fff;
    h1 {
      margin: 0;
    }
  }

  .body {
    margin-top: 30px;
    h2 {
      margin: 0;
      color: #0056b3;
    }
    .details {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 10px;
      .profile-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      button {
        border: none;
        color: #0056b3;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          color: #f1f4f6;
          background-color: #27405c;
        }
      }

      .profile-detail {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;

        &:last-child {
          border-bottom: none;
        }

        strong {
          color: #555;
        }

        span {
          color: #333;
        }
      }
    }
  }
}
