<div mat-dialog-title>
  <h1>{{ data ? "Edit" : "Add" }} Project Form</h1>
</div>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <mat-form-field class="full-width">
      <mat-label>Project Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter Project Name"
        formControlName="projectName"
      />
      <mat-error
        *ngIf="
          projectForm.get('projectName')?.invalid &&
          projectForm.get('projectName')?.touched
        "
      >
        Please enter project name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Select Existing Team</mat-label>
      <mat-select
        formControlName="existingTeam"
        (selectionChange)="onTeamSelectionChange()"
      >
        <mat-option *ngFor="let team of teams" [value]="team">
          {{ team }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="full-width"
      matTooltip="Unselect the existing team to create a new one"
      [matTooltipDisabled]="!isExistingTeamSelected"
    >
      <mat-label>Create New Team</mat-label>
      <input
        matInput
        type="text"
        formControlName="newTeamName"
        [readonly]="isExistingTeamSelected"
      />
    </mat-form-field>

    <div formArrayName="teamMembers">
      <div
        *ngFor="let member of teamMembers.controls; let i = index"
        class="member-row"
      >
        <div [formGroupName]="i">
          <mat-form-field class="member-name">
            <mat-label>Member Name</mat-label>
            <mat-select formControlName="name" placeholder="Select Member Name">
              <mat-option *ngFor="let user of users" [value]="user._id">
                {{ user.firstName }} {{ user.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button color="warn" (click)="removeMember(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>

      <button mat-button (click)="addTeamMember()">+ Add Member</button>
    </div>
  </div>

  <div mat-dialog-actions class="action-btns">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="projectForm.invalid"
    >
      {{ data ? "Update" : "Save" }}
    </button>

    <button
      mat-raised-button
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </div>
</form>
