<div mat-dialog-title>
  <h1>{{ data ? "Edit" : "Add" }} Project Form</h1>
</div>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <!-- // Project name -->
      <mat-form-field appearance="outline">
        <mat-label>Project Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Web Crawler Project "
          formControlName="projectName"
        />
        <mat-error *ngIf="projectForm.get('projectName')?.touched">
          Please enter project name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter details"
          formControlName="description"
        ></textarea>
        <mat-error *ngIf="projectForm.get('description')?.touched">
          Please enter a description
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <mat-error
          *ngIf="
            !projectForm.get('startDate')?.valid &&
            projectForm.get('startDate')?.touched
          "
        >
          Please select a start date
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <mat-error
          *ngIf="
            !projectForm.get('endDate')?.valid &&
            projectForm.get('endDate')?.touched
          "
        >
          Please select an end date
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action-btns">
    <button
      style="margin: 10px"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="projectForm.invalid"
    >
      {{ data ? "Update" : "Save" }}
    </button>
    <button
      mat-raised-button
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </div>
</form>
