<mat-card>
  <mat-table [dataSource]="MyDataSource" matSort>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p *ngIf="error">{{ error }}</p>

    <!-- Define Project Name Column -->
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.projectName }} </mat-cell>
    </ng-container>

    <!-- Define Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-button color="primary" (click)="editProject(data._id)">
          Edit
        </button>
        <button mat-button color="warn" (click)="deleteProject(data._id)">
          Delete
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Definition -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
