button {
  border: none;
  color: #0056b3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    color: #f1f4f6;
    background-color: #27405c;
  }
}
