mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
