<!-- Main container for the login form with styling -->
<div class="p-10 mx-auto mt-5 shadow-lg lg:w-3/12">
  <!-- p-10: Add padding of 2.5rem to all sides -->
  <!-- mx-auto: Center the element horizontally -->
  <!-- mt-5: Add a margin-top of 1.25rem -->
  <!-- shadow-lg: Add a large box shadow -->
  <!-- lg:w-3/12: Set the width to 25% on large screens and up -->

  <!-- Login header/title -->
  <h3 class="py-5 text-3xl font-bold text-center">Forget Password</h3>
  <!-- py-5: Add padding of 1.25rem to the top and bottom -->
  <!-- text-3xl: Set the font size to 3 times the base size -->
  <!-- font-bold: Make the font bold -->
  <!-- text-center: Center align the text -->

  <!-- Login form container -->
  <form [formGroup]="forgetForm" class="flex flex-col">
    <!-- flex: Use flexbox layout for direct children -->
    <!-- flex-col: Arrange direct children in a column -->
    <span class="mb-4 text-center"
      >Enter your email and we'll send you instructions on how to reset your
      password.</span
    >

    <!-- Email Input Section -->
    <div class="flex flex-col mt-4 mb-1">
      <!-- Email Input Field -->
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        required
        autocomplete="email"
        class="p-2 border border-gray-300 rounded"
      />
      <!-- p-2: Add padding of 0.5rem to all sides -->
      <!-- border: Add a border -->
      <!-- border-gray-300: Set the border color to a light shade of gray -->
      <!-- rounded: Add rounded corners -->

      <!-- Error message for empty email field -->
      <span
        *ngIf="
          forgetForm.hasError('required', 'email') &&
          forgetForm.controls['email'].dirty
        "
        class="text-red-500"
        >*A valid email is required</span
      >
      <!-- text-red-500: Set the font color to a shade of red -->

      <!-- Error message for invalid email format -->
      <span *ngIf="forgetForm.hasError('email', 'email')" class="text-red-500"
        >*Email is invalid</span
      >
    </div>

    <!-- Forget Button -->
    <button
      [disabled]="forgetForm.invalid"
      [class.disabled]="forgetForm.invalid"
      (click)="forget()"
      class="p-2 mt-3 text-white bg-indigo-500 rounded hover:bg-indigo-700"
    >
      <!-- mt-3: Add a margin-top of 0.75rem -->
      <!-- text-white: Set the font color to white -->
      <!-- bg-indigo-500: Set the background color to a shade of indigo -->
      <!-- hover:bg-indigo-700: Set a darker shade of indigo when hovered -->
      Send Email!
    </button>
  </form>

  <!-- Registration Navigation Link -->
  <div class="flex justify-center mt-5">
    <!-- flex: Use flexbox layout -->
    <!-- justify-center: Center the direct flex children horizontally -->
    <!-- mt-5: Add a margin-top of 1.25rem -->
    <span> Don't have an account?</span>
    <a routerLink="/register" class="ml-2 text-indigo-600 cursor-pointer">
      <!-- ml-2: Add a margin-left of 0.5rem -->
      <!-- text-indigo-600: Set the font color to a shade of indigo -->
      Register Here.</a
    >
  </div>
</div>
