<!-- Main container -->
<div class="main-container">
  <!-- Header -->
  <div class="project-header">
    <h1>Manage Projects</h1>
    <h2>List of all your created and added to projects</h2>
  </div>
  <!-- Body -->
  <div class="main-body">
    <div class="filter">
      <!-- Filter Container -->
      <div class="filter-container">
        <!-- Main Search Bar -->
        <mat-form-field class="filter-item">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search Projects</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search by name"
            #projectNameInput
          />
        </mat-form-field>

        <!-- Team Filter -->
        <mat-form-field class="filter-item">
          <mat-select
            placeholder="Filter by Team"
            (selectionChange)="applyTeamFilter($event)"
          >
            <!-- Option to clear filter -->
            <mat-option value="">All Teams</mat-option>

            <!-- Existing team options -->
            <mat-option *ngFor="let team of teamInfo" [value]="team._id">
              {{ team.teamName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button
          class="action-button"
          mat-raised-button
          color="accent"
          (click)="openTeamDialog()"
        >
          CREATE TEAM
        </button>
        <button
          class="action-button"
          mat-raised-button
          color="accent"
          (click)="openAddEditProjectDialog()"
        >
          CREATE PROJECT
        </button>
      </div>
      <br />
      <!-- Projects display -->
      <div class="projects-display">
        <!-- Loading Spinner -->
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <!-- Teams and their associated projects -->
        <ng-container
          *ngIf="filteredTeams && filteredTeams.length; else noProjectTemplate"
        >
          <div *ngFor="let team of filteredTeams" class="team-item">
            <h3>{{ team.teamName }}</h3>

            <!-- Projects associated with the current team -->
            <ng-container
              *ngIf="
                team.projects && team.projects.length;
                else noProjectForTeamTemplate
              "
            >
              <div
                *ngFor="let project of team.projects"
                class="individual-project"
                (click)="openProjectDetails(project.project)"
              >
                <h4>{{ project.project.projectName }}</h4>
                <p>Number of Team Members: {{ team.teamMembers.length }}</p>
                <p>Number of Tickets: {{ project.project.tickets?.length }}</p>
                <p>
                  Start Date:
                  {{ project.project.startDate | date : "MMM d, y" }}
                </p>
                <p>
                  End Date: {{ project.project.endDate | date : "MMM d, y" }}
                </p>
                <!-- Delete Button -->
                <button
                  mat-icon-button
                  (click)="deleteProject(project.project._id, team._id, $event)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <!-- Template to show when no projects are available for the whole system -->
        <ng-template #noProjectTemplate>
          <div class="no-projects">No Projects Available!</div>
        </ng-template>

        <!-- Template to show when no projects are available for a specific team -->
        <ng-template #noProjectForTeamTemplate>
          <div class="no-projects">No Projects Available for this Team!</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
