<!-- Main container -->
<div class="main-container">
  <!-- Header -->
  <mat-toolbar class="project-header">
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Manage Projects</span>
        <span matListItemLine>List of all created and joined projects</span>
      </mat-list-item>
    </mat-list>
  </mat-toolbar>

  <!-- Body -->
  <div class="main-body">
    <div class="filter">
      <!-- Filter Container -->
      <div class="filter-container">
        <!-- Main Search Bar -->
        <mat-form-field class="filter-item">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search Projects</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search by name"
            #inputName
          />
        </mat-form-field>

        <!-- Team Filter -->
        <mat-form-field class="filter-item">
          <mat-select
            placeholder="Team"
            (selectionChange)="applyTeamFilter($event)"
          >
            <mat-option *ngFor="let team of teams" [value]="team._id">{{
              team.teamName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button
          class="action-button"
          mat-raised-button
          color="accent"
          (click)="openTeamDialog()"
        >
          CREATE TEAM
        </button>
        <button
          class="action-button"
          mat-raised-button
          color="accent"
          (click)="openAddEditProjectDialog()"
        >
          CREATE PROJECT
        </button>
      </div>
      <br />
      <div class="projects-display">
        <!-- Loading Spinner -->
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <!-- Projects Section -->
        <div class="projects-section">
          <ng-container
            *ngIf="MyDataSource.data.length; else noProjectTemplate"
          >
            <div
              *ngFor="let project of MyDataSource.data"
              class="project-item"
              @listAnimation
            >
              <h3>{{ project.projectName }}</h3>
              <p>{{ project.description }}</p>

              <!-- Teams Section -->
              <div *ngFor="let team of project.teams">
                <h4>{{ team.teamName }}</h4>

                <ng-container
                  *ngIf="
                    team.teamMembers && team.teamMembers.length;
                    else noMembersTemplate
                  "
                >
                  <ul>
                    <li *ngFor="let member of team.teamMembers">
                      <span
                        matTooltip="{{ member.firstName }} {{
                          member.lastName
                        }} - {{ member.userName }}"
                      >
                        {{ member.firstName }} {{ member.lastName }}
                      </span>
                    </li>
                  </ul>
                </ng-container>
              </div>

              <p>Number of Tickets: {{ project.tickets?.length || 0 }}</p>
              <p>
                <mat-icon>date_range</mat-icon>Start Date:
                {{ project.startDate | date : "MMM d, y" }}
              </p>
              <p>
                <mat-icon>date_range</mat-icon>End Date:
                {{ project.endDate | date : "MMM d, y" }}
              </p>
            </div>
          </ng-container>

          <ng-template #noProjectTemplate>
            <div class="no-projects">No Projects Available!</div>
          </ng-template>
          <ng-template #noMembersTemplate>
            <p>No Members in this Team</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
