<mat-toolbar class="header-fullwidth">
  <div>
    <span style="font-weight: bold; color: #e83e8c">Sprint</span>
    <span style="font-weight: bold; color: #6f42c1">Sage</span>
    <span style="font-size: small; color: grey"> 👟⏱</span>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
    <a routerLink="" mat-button><mat-icon>home</mat-icon>Home</a>
    <a routerLink="/login" mat-button
      ><mat-icon>power_settings_new</mat-icon>Login</a
    >
    <a routerLink="/register" mat-button
      ><mat-icon>fingerprint</mat-icon>Register</a
    >
  </div>
</mat-toolbar>
