<div mat-dialog-title>
  <h1>{{ data ? "Edit" : "Create" }} Team Form</h1>
</div>

<div class="team-form">
  <form [formGroup]="createTeamMemberForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
      <!-- Team Name Input -->
      <mat-form-field class="full-width">
        <mat-label>Team Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="teamName"
          placeholder="Enter Team Name"
        />
        <mat-error
          *ngIf="
            createTeamMemberForm.get('teamName')?.invalid &&
            createTeamMemberForm.get('teamName')?.touched
          "
        >
          Please enter team name
        </mat-error>
      </mat-form-field>

      <!-- Team Members Selection -->
      <div formArrayName="teamMembers">
        <div
          *ngFor="let memberCtrl of teamMembersControls; let i = index"
          class="member-row"
        >
          <mat-form-field class="full-width">
            <mat-label>Team Members</mat-label>
            <mat-select
              [formControl]="memberCtrl"
              placeholder="Select Member Name"
            >
              <mat-option *ngFor="let user of users" [value]="user._id">
                {{ user.firstName }} {{ user.lastName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="memberCtrl.hasError('required')">
              Name is required!
            </mat-error>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeUser(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <button mat-button (click)="addUser()">+ Add Member</button>
      </div>
    </div>

    <!-- Action Buttons -->
    <div mat-dialog-actions class="action-btns">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="createTeamMemberForm.invalid"
      >
        {{ data ? "Update" : "Add" }}
      </button>
      <button
        mat-raised-button
        type="button"
        color="warn"
        [mat-dialog-close]="false"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
