<!-- Main container -->
<div class="main-container">
  <!-- Header -->
  <mat-toolbar class="team-header">
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Team Details</span>
        <span matListItemLine
          >View and manage team-specific details and team members.</span
        >
      </mat-list-item>
    </mat-list>
  </mat-toolbar>
  <br />
  <!-- Body -->
  <div class="main-body">
    <!-- Left Section: Team Details -->
    <section class="team-details">
      <h4>Team Details</h4>
      <div>
        <p><strong>Team Name:</strong> {{ teamName }}</p>
        <p><strong>Current Projects:</strong> {{ currentProjects }}</p>
        <!-- Add any other team details you want to display here -->
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </section>

    <!-- Right Section: Team Members -->
    <section class="team-members">
      <h4>Team Members</h4>
      <ul>
        <li *ngFor="let user of users">
          {{ user.firstName }} {{ user.lastName }}
        </li>
      </ul>
    </section>
  </div>
</div>
