$font-family-default: Arial, sans-serif;
$background-color-light: #fff;
$border-color: #e1e1e1;
$primary-color: rgb(47, 116, 180);
$secondary-color: #0056b3;
$error-color: red;

body {
  font-family: $font-family-default;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.top-section,
.team-header {
  text-align: center;
  border-bottom: 1px solid $border-color;
  padding: 20px;
  background-color: $background-color-light;
}

.top-section {
  color: $primary-color;
}

.create-team {
  display: flex;
  justify-content: left;
  margin: 20px;

  button {
    border: none;
    color: $secondary-color;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      color: #f1f4f6;
      background-color: #27405c;
    }
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin: 20px;

  .left-side,
  .right-side {
    width: 48%;
    background-color: $background-color-light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .team-details,
  .team-members {
    border: 1px solid $border-color;
    padding: 10px;
    margin: 10px;

    h2 {
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      color: $primary-color;
    }

    h4 {
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
    }

    p,
    li {
      cursor: pointer;
    }
  }
}

.error-message {
  color: $error-color;
  margin-top: 20px;
}
