<div class="main-container" *ngIf="!isLoading; else loadingTemplate">
  <!-- Header -->
  <mat-toolbar class="team-header">
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Team Details</span>
        <span matListItemLine>
          View and manage team-specific details and team members.
        </span>
      </mat-list-item>
    </mat-list>
  </mat-toolbar>
  <br />
  <div class="create-team">
    <button
      class="action-button"
      mat-raised-button
      color="accent"
      (click)="openAddEditTeamDialog()"
    >
      CREATE TEAM
    </button>
  </div>
  <div class="bottom-section">
    <!-- Left Section: Team Details -->
    <div class="left-side">
      <section class="team-details my-projects">
        <h4>Team Details</h4>

        <div *ngFor="let team of teams">
          <p (click)="selectTeam(team)" style="cursor: pointer">
            <strong>Team Name:</strong> {{ team.teamName }}
          </p>
        </div>
        <!-- Error message if any -->
        <div *ngIf="!teams.length">
          <p>You don't have any teams yet.</p>
        </div>
      </section>
    </div>

    <!-- Right Section: Team Members -->
    <div class="right-side">
      <section class="team-members my-tickets">
        <h4>Team Members</h4>

        <<!-- Display the members of the selected team -->
        <ul *ngIf="selectedTeam && selectedTeam.teamMembers.length">
          <li *ngFor="let teamMember of selectedTeam.teamMembers">
            {{ teamMember.user.firstName }} {{ teamMember.user.lastName }}
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>

<!-- Loading template -->
<ng-template #loadingTemplate>
  <p>Loading...</p>
</ng-template>
